<div class="row">
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field user[:email] %>

      <%= f.label :password %>
      <%= f.password_field user[:password] %>

      <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
